.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #ffffff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: #0d6efd;
}

.dev-icons {
    font-size: 3rem;
}

@media (max-width: 750px) {
    .social-icons .social-icon {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
        margin-right: 0.4rem;
    }
}